[2021-06-30 18:34] jasonmccreary opened #1 "Task log hangs with "..." on when running "Spawning Docker" or "Analyzing project""
**Desktop:**
 - OS: Mac (Intel)
 - OS Version: Big Sur
 - App Version: 0.2.0

**Describe the bug**
When running any task, the "Task Log" will hang just showing the "..." animation on either the "Spawning Docker" or "Analyzing project" steps.

**To Reproduce**
This doesn't always happen, so there are not any specific reproduction steps other than attempting to run a task.

[2021-06-30 18:42] laravel-shift commented on #1
The underlying Docker container sometimes fails to start or hangs. It may appear as "Created" when running `docker container ps`.

We'll working on making this more resilient, but in the meantime, killing the hung container instance and restarting your Docker client will resolve the issue.

To do so:
- Find the hung container by running `docker container ps` or within the [Docker Dashboard](https:

[2021-06-30 21:46] anugupta opened #2 "Licence Activation not working"
**Desktop:**
 - OS: MacOS
 - OS Version: Big Sur 11.4
 - App Version: 0.2.0

**Describe the bug**
Licence Activation doesn't work - button stays at 'activating...' and doesn't change. The application hasn't crashed, can still access menus, and they all work, but the licence key modal doesn't go away. Quitting ad restarting app shows app still unlicenced.

**To Reproduce**
Steps to reproduce the be

[2021-06-30 21:49] anugupta opened #3 "Property Promotion not working"
**Desktop:**
 - OS: MacOS
 - OS Version: Big Sur
 - App Version: 0.2.0

**Describe the bug**
Property promotion fails with `Failed to run rector: adopt-property-promotion: #0 phar:///opt/shift/workbench/src/Tasks/Workbench/AdoptPropertyPromotion.php(18):`

**To Reproduce**
Steps to reproduce the behavior:
1. run property promotion task
<img width="1008" alt="screenshot2021-06-30 at 22 49 10@2x" sr

[2021-06-30 22:19] jasonmccreary commented on #2
@jessarcher can you take a look at this? I'm not seeing anything on the server-side, so I'd like to determine where it might be client side.

[2021-06-30 22:23] jasonmccreary commented on #3
@anugupta, would it be possible for you to attempt to run this on the [cloud-based Workbench](https://laravelshift.com/workbench). This would help me determine if something within your specific project is failing or within our underlying Docker build.

[2021-06-30 22:37] anugupta commented on #3
@jasonmccreary – I tried it on the cloud version, and it completed and created a PR.

However, the PR was empty apart from a placeholder readme, and I was expecting 1 change (if I understand property promotion correctly).

This was the code I was expecting to be changed:

[code]

This might be a separate issue (or a non-issue).

[2021-06-30 23:23] jasonmccreary commented on #3
Maybe. I'd like to take a closer look though. What was your build number from the cloud-based run? (it will be the suffix of the branch name)

[2021-06-30 23:25] anugupta commented on #3
Build number: 1602

[2021-06-30 23:56] jasonmccreary commented on #2
@anugupta, if you want to email support (shift@laravelshift.com), we can take a closer look as this doesn't seem to be wide-spread.

[2021-07-01 01:03] princejohnsantillan opened #4 "Multiple "Task log" for concurrent builds"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur 11.4
 - App Version: 0.2.0

**Describe the bug**
Spinning cog on Cleaning Up and Generating Report does not stop even though the docker process already finished and closed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run common-helpers
2. Run global-facades (don't wait for step one to finish)
3. Run other tasks (don't wait for other tasks to

[2021-07-01 01:12] jasonmccreary commented on #4
@princejohnsantillan, when you say "don't wait for step one to finish" are you running another task before the first "build" completed?

[2021-07-01 01:15] princejohnsantillan commented on #4
@jasonmccreary yes I am. I do see another container being spawned in Docker every time I run another task. So I'm assuming they run in parallel safely.

[2021-07-01 01:20] jasonmccreary commented on #4
Probably true, however, the "Task Log" did not account for this. 😅

I'll turn this into a feature so you can spawn multiple at once. Until then, may want to run them one at a time. 😉

[2021-07-01 01:32] princejohnsantillan commented on #4
They actually did run in parallel and completed as expected. It's just the logs are off. 😅
Maybe there will be conflicting tasks that shouldn't run in parallel else there'll be some race conditions to consider.
But if I think the tasks are different I just run them together.

[2021-07-01 01:36] jasonmccreary commented on #4
@princejohnsantillan, good. I still think that'd be a cool feature though. No reason we couldn't create multiple "Task Log" tabs in the console.

But yeah, kind of up to the dev if they wanted to run so many at once.

[2021-07-01 02:11] jasonmccreary commented on #2
@anugupta, we've pushed a patch release (0.2.1) which should resolve this issue. You should be prompted to update next time you open the app. After which, you may try activating your license key again.

[2021-07-01 02:12] #2 closed, assigned to nobody

[2021-07-01 04:24] tobz-nz opened #5 "composer/laravel-package-dependencies duplicates constrains"
**Desktop:**
 - OS: [e.g. Intel Mac
 - OS Version: Big Sur,
 - App Version: 0.2.1

**Describe the bug**
composer/laravel-package-dependencies duplicates some constrains.
E.g.:
[code]

**To Reproduce**
just running the task should be enough.

[2021-07-01 09:31] jessarcher commented on #5
Thanks for reporting this @tobz-nz! I'm looking at it now.

[2021-07-01 14:47] jasonmccreary commented on #5
This should be fixed in release 0.2.2 thanks to @jessarcher. You should be prompted next time you open the Workbench to update.

[2021-07-01 14:47] #5 closed, assigned to nobody

[2021-07-01 16:54] ejunker opened #6 "php/switch-to-match warnings and then failed to run"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur 11.4
 - App Version: 0.2.1

**Describe the bug**
I ran the php/switch-match task and got some warnings and then it failed. It seemed to take a long time but this is my first time running a task that uses Rector so maybe they are always slower. I am wondering if it is scanning all files instead of just `*.php` files. In the warning message you can see

[2021-07-01 16:58] jasonmccreary commented on #6
@ejunker, the Rector backed tasks are indeed slower as they run static analysis on your full project. We've tried to limit the files scanned, but there might be come kind of additional file extension filter we could add.

I'm also not sure this was the ultimate reason for the failure though. Let us make some changes and push a patch to see if we can get this one a bit farther along.

[2021-07-01 18:20] ejunker commented on #6
It does not seem to be specific to the `php/switch-to-match` task as I also ran the `php/nullsafe-operator` task and got the same warnings and error.

[2021-07-01 18:33] jasonmccreary commented on #6
It's not. Nearly of the PHP tasks are backed by Rector. So whatever fix we make will hopefully both of these.

[2021-07-01 19:10] jasonmccreary commented on #6
@ejunker, could you tell me a little more about this `rr`? I don't think Rector is trying to scan it as PHP so much as iterating over it. Makes me think it might be a symlink or some kind of binary file…

[2021-07-01 19:45] jasonmccreary commented on #3
@anugupta, looks like this is indeed missed by Rector. I think there are a few things which confuse it.

- The mixed type for `$bannedTerms`
- The default value for `$bannedTerms`
- The additional logic within the constructor

So, although this snippet could likely be collapsed with some property promotion, it appears Rector shies away from it.

I am going to close this issue here and instead open

[2021-07-01 19:45] #3 closed, assigned to nobody

[2021-07-01 20:23] ejunker commented on #6
[code]

Strange that I do not have read permissions.

[code]

As for where the file came from, I was using Laravel Octane and it downloaded automatically

https://laravel.com/docs/8.x/octane#installation

I removed the file and the warnings went away though it still failed

[code]

I wonder if it is running out of memory or timing out somehow. Most of the runs are about 600 seconds so maybe there

[2021-07-01 20:34] jasonmccreary commented on #6
The permissions would explain the warnings. But yeah, ultimately seems unrelated to the task failing.

Given the time it's taking it makes me wonder how large the project is or if there are other PHP libraries within the project, yet outside the `vendor` folder.

We don't have a debug mode at this time. We'll likely need to build one given the various projects and tasks we're trying to support.

I

[2021-07-01 20:57] ejunker commented on #6
I did a build with the web version and it failed. https://laravelshift.com/account/build/507 but it also says Build #1608

[2021-07-02 01:18] jasonmccreary commented on #6
There was a little more information in the build log from the server. Looks like there is an undefined class for `Faker\Provider\Base` within `app/Providers/FakerServiceProvider.php`.

Since these tools perform full static analysis on your files, all of them would need to be without parse/runtime errors.

[2021-07-02 11:58] princejohnsantillan opened #7 "PHP tasks are failing"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur
 - App Version: 0.2.3

**Describe the bug**
Some tasks fail when I run them.

**To Reproduce**
Steps to reproduce the behavior:
Just run the following tasks
1. php/create_function
2. php/array-functions
3. php/arrow-functions
4. php/null-coalesce
5. php/convert-each
6. php/array-destructuring

Basically the same errors for all of them.

![Screen Shot

[2021-07-02 12:05] jasonmccreary commented on #7
@princejohnsantillan, we've seen this issue before. It is not something within the Workbench directly, but something in the project which triggers this exception.

We'd like to diagnose what it is to build some defenses around it. Would it be possible for you to run one of these tasks against the same project using the [cloud-based Workbench](https://laravelshift.com/workbench). That will give us

[2021-07-03 13:52] princejohnsantillan commented on #7
@jasonmccreary  this worked fine on the cloud based.
shift-build-1619, not sure if you can track it with that but that's the branch it created for me.

[2021-07-03 13:59] jasonmccreary commented on #7
Interesting. I wonder maybe if you have a dev dependency that's conflicting. For example PHPStan? Or LaraStan?

[2021-07-03 14:02] princejohnsantillan commented on #7
These are the dev dependencies I have

[code]

[2021-07-03 14:13] jasonmccreary commented on #7
My guess is one of the other dependencies has PHPStan as a sub-dependency which is ultimately causing the error. Off the top of my head, probably `phpmd/phpmd`.

To prove this, you could run `composer install --no-dev` on your project and try using the Workbench. If that succeeds, then you could determine which dev dependency causes the conflict.

Let us know if that works and maybe we can build a

[2021-07-04 01:43] princejohnsantillan commented on #7
I tried ```composer install --no-dev```, this is what I got

<img width="1021" alt="Screen Shot 2021-07-04 at 9 26 20 AM" src="https://user-images.githubusercontent.com/60916966/124370628-4bda1080-dcac-11eb-8b54-e982aca32dbd.png">

[2021-07-05 00:57] tobz-nz opened #8 "Class not found in "Class based factories" Task"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur
 - App Version: 0.2.3

**Describe the bug**
Error when running the "Class based factories" task

[code]

**To Reproduce**
Run the task.

[2021-07-05 11:12] jasonmccreary commented on #8
@tobz-nz, thanks for reporting. We'll get a new build pushed later today to get this fixed.

[2021-07-05 14:36] jasonmccreary commented on #7
Unfortunately, seems there's still something locally that is causing these PHP tasks to fail that is not present on the cloud-based runs.

Let me see if we can build in some kind of "debug" mode so we all get a little more hint as to why these are failing. If not, maybe we could do a short call to see as this is likely to be an issue for others.

[2021-07-05 14:40] jasonmccreary commented on #8
@tobz-nz, just pushed release 0.2.4 which should resolve this issue. Of course let us know if not.

[2021-07-05 14:40] #8 closed, assigned to nobody

[2021-07-05 23:34] princejohnsantillan commented on #7
I'd be happy to help. Let me know if you want to jump on a call.

[2021-07-06 02:44] ejunker commented on #6
Thanks for your time to look into this. I installed `rector/rector 0.11.32`  and ran it on my `app` directory and expected to see the same error that I got when running the Shift workbench but it ran just fine.

[code]

Here is my `rector.php`:
[code]

I'm not sure why I don't see the error unless you are using a different version of rector or if it is due to a different config or command line to

[2021-07-06 14:52] jasonmccreary commented on #6
@ejunker yeah, let's definitely get to the bottom of it as it's likely affecting others too. If you could email support (support@laravelshift.com), we can set up a time to try and run this together.

[2021-07-06 14:53] jasonmccreary commented on #7
@princejohnsantillan, absolutely, please email support@laravelshift.com and we can set up a time.

[2021-07-07 15:41] lucatrev opened #9 "php/switch-to-match wrong transformation"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.3.1.0

**Describe the bug**
In specific following scenario tranformation applied is not equivalent to original snippet (tests are failing proving that ✌).
You can notice the tranformed form is missing the orginal default value (`$quote = 0` removed) and the original return (`return $quote`).
In the expected result is my suggested form

[2021-07-07 15:45] jasonmccreary commented on #9
@luke83 thanks!

For clarity, is the *actual* result indeed missing the `$quote = 0;` assignment and `return` statement? Or is this task generating:

[code]

[2021-07-07 15:50] lucatrev commented on #9
Yep, @jasonmccreary, i confirm the _actual_ result is missing `$quote = 0;`, I would never have noticed without failing tests 😅

Of course another equivalent form could be:

[code]

if it is easier to implement 😎

[2021-07-07 15:53] jasonmccreary commented on #9
Thanks for the clarification. I'll get @jessarcher involved on this one and we'll get it patched up in a future release.

Nice work having tests!

[2021-07-07 15:55] lucatrev commented on #9
Initial assignment and return statement are gone, after task, but only in this scenario, i have other 5 switches handled correctly 💪

![image](https://user-images.githubusercontent.com/77144/124791143-13f0f880-df4c-11eb-8854-8550f07689fd.png)

tests, "this is the way", as Mando would say!

[2021-07-08 01:29] tshafer opened #10 "Bump Laravel Package Dependencies can append duplicate constraints"
Mac Big Sur 11.4
Version 0.3.1

**Describe the bug**
Bump Laravel Package Dependencies can append duplicate constraints

**To Reproduce**
Select a project and run Bump Laravel Package Dependencies twice

<img width="489" alt="Screen Shot 2021-07-07 at 6 29 23 PM" src="https://user-images.githubusercontent.com/299464/124848216-43eeca80-df51-11eb-9618-5d69733be1aa.png">

[2021-07-08 04:55] princejohnsantillan commented on #7
@jasonmccreary sent an email to support. Let me know if you got it.

[2021-07-08 09:21] proclame opened #11 "Code Format: Custom => Also check new config file .php-cs-fixer.php"
**What would you like to do?**
At this moment, the custom code format "workbench" only checks the existence of .php_cs, and uses it (correctly) if it does exist.

Since PHP CS Fixer v2.19.0 it supports using .php-cs-fixer.php as the config file, and since v3 the old (.php_cs) file name is no longer supported.

Would be great if both file names could be checked and can be used.

[2021-07-08 11:08] BrandonSurowiec opened #12 "Suggestion: Ability to see Docker Setup Instructions after first-installation"
**What would you like to do?**
I installed Docker for Win10 via WSL, but after rebooting I needed to recheck the setup instructions / articles as running Docker isn't quite working for me yet. My problem, not yours. (I'll solve it.) It would have been nice to be able to reference those setup instructions / references again within Workbench without having to Google. Uninstalling the program and rei

[2021-07-08 11:24] jessarcher commented on #12
Hey @BrandonSurowiec, thanks for the feedback!

Was there a particular reference you found helpful? We could include a link to it in the onboarding for Windows users.

[2021-07-08 11:35] BrandonSurowiec commented on #12
I think you included all the relevant links, but I can't remember. I skipped the WSL setup as I was checking things out and didn't have time. So that is what I needed to go back and do, but it had been a few days and I couldn't remember what part of the setup I didn't do yet.

The app didn't have a way to pull up the onboarding instructions again.

[2021-07-08 11:45] jasonmccreary commented on #12
@BrandonSurowiec, do you think adding the same Docker setup link in the Help menu would work?

[2021-07-08 11:50] BrandonSurowiec commented on #12
@jasonmccreary That would be perfect.

[2021-07-08 12:36] jasonmccreary commented on #11
@proclame, now that 3.0 is stable and more widely adopted, we will be bumping our support. And likely adding a task to help those running v2 to upgrade their configs. 🔥

[2021-07-08 12:46] jasonmccreary commented on #12
@BrandonSurowiec awesome. We'll get this added in our next patch release. Probably tomorrow.

[2021-07-09 13:29] jasonmccreary opened #13 "Tasks running slow"
**Describe the bug**
A few of the tasks, particularly the PHP tasks, take several minutes to run.

---

This is likely due to Docker's file I/O. Which is known to be slow, especially on a _Mac_. Projects with either many files or large files are likely to be affected.

A few things you may do to reduce project size:

- Remove any temporarily files: caches, logs, db dumps, etc
- Temporarily remove

[2021-07-09 13:32] jasonmccreary commented on #10
@tshafer, thanks for reporting.

While this is indeed a bug, you likely didn't mean to run the "Laravel Package Dependencies" task. This task is for Laravel Packages. From the screenshot, yours appears to be a Laravel application. If so, you should run the "Bump Laravel Dependencies" task instead. It does not have an `append` option and would avoid the issue.

[2021-07-11 19:54] jasonmccreary commented on #7
There are some updates in the latest path release (0.3.2) which may help with the issue. Please try again running some of the PHP tasks again on your project and let us know if you're still receiving failures.

[2021-07-11 19:54] jasonmccreary commented on #6
@ejunker, there are some updates in the latest path release (0.3.2) which may help with the issue. Please try again running some of the PHP tasks again on your project and let us know if they continue to fail.

[2021-07-12 14:11] jasonmccreary commented on #12
Added in release 0.3.2.

[2021-07-12 14:11] #12 closed, assigned to nobody

[2021-07-12 14:12] #7 closed, assigned to nobody

[2021-07-12 14:12] #6 closed, assigned to nobody

[2021-07-12 15:42] princejohnsantillan commented on #7
@jasonmccreary unfortunately it's the same. 😢
![Screen Shot 2021-07-12 at 11 41 25 PM](https://user-images.githubusercontent.com/60916966/125316483-bd7c2380-e36a-11eb-8cb1-071ce75564f9.png)

[2021-07-12 18:10] jasonmccreary commented on #7
@princejohnsantillan given these updates and the fact the cloud-based Shift ran, I believe this may have something to do with your local dependencies. Again, I think installing only your production dependencies via `composer install --no-dev` may help, as that is all the cloud-based Workbench installs.

Also, looking at the logs from that build, I do see some PSR-4 compliance issues. While these s

[2021-07-12 19:09] princejohnsantillan commented on #7
ahh perfect! `composer install --no-dev` works now.  Thanks @jasonmccreary !

[2021-07-12 19:21] jasonmccreary commented on #7
Awesome. Glad to hear it. My guess is you have a local copy of PHPStan or another static analysis tool that is causing a conflict with the PHP tasks.

[2021-07-13 13:07] ordago opened #14 "Fatal error on null-coalesce task"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.3.2.0

**Describe the bug**
Got a fatal error when running the task

**To Reproduce**
Steps to reproduce the behavior:
1. open workbench
2. select project
3. Run php/null-coalesce task

[code]

The section was collapsed with the green checkmark so for I while I didn't know what had happened or why it was taking long

![image](https://

[2021-07-13 13:15] jasonmccreary commented on #14
This is likely a conflict with your local Rector dependency. We're working to protect around local installs as the Workbench itself uses some.

In the meantime, you may try temporarily removing your development dependencies. You may do so by remove the `vendor` folder and running `composer install --no-dev`. Additional detail is in [this issue thread](https://github.com/laravel-shift/workbench-iss

[2021-07-13 13:15] #14 closed, assigned to nobody

[2021-07-13 13:58] ordago opened #15 "No changes made on task laravel/request-injection, warning thrown"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.3.2.0

**Describe the bug**
log shows this error

`Warning: foreach() argument must be of type array|object, null given in phar:///opt/shift/workbench/src/Tasks/Laravel/Fixer/RequestAccess.php on line 38`

No files were changed.

**To Reproduce**
Steps to reproduce the behavior:
1. open workbench
2. select project
3. Run laravel/reque

[2021-07-13 14:21] ordago opened #16 "Transform @lang blade directive to {{}} equivalent"
**What would you like to do?**
It's an opinionated task but it would follow Laravel's example as they removed mentions of @lang last December:

https://github.com/laravel/docs/commit/0ab96f0b7c55966f5402b99e37268a0e9dacd03e#diff-737a3cc79367bf5e9f9254b03ef0b5af518571a70fda75e7855cf5f4fe77093eL116-L122

It would also follow Spatie's guidelines:

https://spatie.be/guidelines/laravel-php#translations

[2021-07-13 14:23] jasonmccreary commented on #15
Would you be willing to run this via the [cloud-based Workbench](https://laravelshift.com/workbench). It will give me more insight into the error and hopefully help me determine a patch.

You may comment back with the build number or email it to support.

[2021-07-13 14:26] jasonmccreary commented on #16
Absolutely! Great suggestion and links. We'll get this into the next patch release as part of the "Blade Directives" task.

[2021-07-13 14:41] ordago opened #17 "No changes made on task laravel/unguarded-models, warning thrown"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.3.2.0 - 0.4.0.0

**Describe the bug**
The log shows this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. open workbench
2. select project
3. Run task

![Workbench_sLw5uvOAAR](https://user-images.githubusercontent.com/6376814/125471885-7cd17901-2e9e-41cf-ae41-7eace643e797.png)

`$fillable`s arrays in the code:

![zMj9vnf

[2021-07-13 14:48] ordago commented on #15
Sure, it's build #1667.

[2021-07-13 14:55] ordago commented on #15
It went through on the cloud version.

![image](https://user-images.githubusercontent.com/6376814/125473767-877df676-876d-439b-a1ca-d19c2ad06af0.png)

The `$request` variable is out of scope there, right?

[2021-07-13 15:05] jasonmccreary commented on #15
Yes, this is actually a boundary case for Shift. It changes it, but does not inject the variable into the closure's scrope.

[2021-07-13 15:15] jasonmccreary commented on #17
Please update to the latest version (0.4.0) and let me know if the problem persists.

[2021-07-13 16:01] ordago commented on #17
![image](https://user-images.githubusercontent.com/6376814/125485830-78d40628-e41b-4c4c-b538-51ab6b32b22b.png)

Same result as the previous version

![image](https://user-images.githubusercontent.com/6376814/125485702-79759599-a9c3-4939-b975-a2891fd0b073.png)

[2021-07-13 16:35] ordago opened #18 "Bump Laravel Dependencies should take into account the project"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.4.0.0

**Describe the bug**
[code]
I have not yet upgraded to php 8 and the task Bump Laravel Dependencies upgraded spatie's laravel-activitylog from version 3 to version 4 where they removed support for php7.

https://github.com/spatie/laravel-activitylog/releases/tag/4.0.0

**To Reproduce**
Steps to reproduce the behavior:
1. Run Bu

[2021-07-13 16:49] jasonmccreary commented on #17
We'll push a patch for this shortly.

[2021-07-13 17:02] ordago opened #19 "Fatal error: Uncaught RuntimeException: unknown task: php/early-returns"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version:  0.4.0.0

**Describe the bug**
No changes made. Shows error in the log.

**To Reproduce**
Steps to reproduce the behavior:
1. Run task

[code]

Unlike the other errors where it would show the error in the log but show the checkmark icon, now it shows the running icon moving. It seems despite throwing a fatal error it managed to shut dow

[2021-07-13 17:16] ordago opened #20 "Prefill OS, OS Version and App version in bug report"
Absolutely not needed, but it would be cool.

**What would you like to do?**
In the spirit of automation, if Workbench knows those params (OS, OS Version and App version) it could prefill them on the link to the GitHub issue.

I tried and it seems the body can be passed through the get param just like with `mailto:`

`&body=issue_body_here`

![image](https://user-images.githubusercontent.com/63768

[2021-07-13 17:17] jasonmccreary commented on #19
Pushing a patch for this now.

[2021-07-13 17:18] jasonmccreary commented on #20
Interesting. Nice touch.

[2021-07-13 17:47] jasonmccreary commented on #19
@ordago, this should be patched in 0.4.1. Keep in mind these are still "Experimental" tasks. So there may still be "bugs" related to their automation. However, the task should no longer throw the "fatal error" reported in this issue.

[2021-07-13 17:47] #19 closed, assigned to nobody

[2021-07-13 17:50] jasonmccreary commented on #17
@ordago, this should be patched in the latest release (0.4.1). Again, there may still be issues with the automation. But the errors reported in this issue should be resolved.

[2021-07-13 17:50] #17 closed, assigned to nobody

[2021-07-13 17:53] jasonmccreary commented on #18
We are working on a feature to allow users to specify the PHP version within the environment Shift uses. May be a few weeks. Until then, we'll look into trying to honor the PHP version if specifically set within `composer.json` for this task.

[2021-07-13 18:04] ordago commented on #17
It worked now. Thanks! 🎉

[2021-07-13 18:06] jasonmccreary commented on #15
@ordago, looking at this more closely, it seems the cloud-based Workbench ran successfully for you (aside from the boundary case above).

We'll continue to look into those for the Desktop app, but at least that gives you a start.

[2021-07-13 23:23] jessarcher commented on #9
This issue has now been fixed in Rector. Just waiting for them to release an update containing the fix.

The output won't be exactly as you've mentioned because the early return is outside the scope of that rector task, but there is a separate task that should be able to make this change as well.

[2021-07-14 00:18] jasonmccreary commented on #15
@ordago, we found the issue here. We'll push a patch tomorrow once we have a few other items to bundle.

[2021-07-14 14:39] proclame opened #21 "Remove Dead Code: also removes variable assignments used in compact function"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur
 - App Version: 0.4.1

**Describe the bug**
When running the new "Remove Dead Code" worker, a variable assignment that is used in a compact() call afterwards is also removed.

**Before**
[code]

**After**
[code]

[2021-07-14 14:44] jasonmccreary commented on #21
@jessarcher, I believe you solved this before. Maybe a regression?

[2021-07-14 18:16] jasonmccreary commented on #16
This has been updated in the latest release (0.4.2). Let us know if you still see the issue.

[2021-07-14 18:16] #16 closed, assigned to jessarcher

[2021-07-14 18:17] jasonmccreary commented on #15
This has been updated in the latest release (0.4.2). Let us know if you still see the issue.

**Note:** The references within closures is a separate issue which we will address in the future.

[2021-07-14 19:58] ordago opened #22 "Adopt anonymous migrations adds extra semicolon when rerun"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.4.0.0

**Describe the bug**
I added a migration with [Laracast Generators](https://github.com/laracasts/Laravel-5-Generators-Extended#pivot-tables) and I noticed it didn't use the stubs so I ran the task again. The diff is showing an extra semicolon in every migration. Ideally they shouldn't be affected if they're already anonymous.

[2021-07-14 20:00] jasonmccreary commented on #22
Good catch. We'll get this patched up.

[2021-07-14 20:44] ordago commented on #16
Awesome! It worked perfectly. Sorry for making so many issues.

[2021-07-14 21:14] jasonmccreary commented on #16
@ordago no worries. We're still considering this an _alpha_ version. So I'm glad you're finding them. Hopefully you're still getting some good value out of the app.

[2021-07-14 21:17] ordago commented on #15
Hi Jason, I ran it again. I didn't merge the cloud version of the task because I ran other tasks in between.

It made no changes again. Using 0.4.2.0

![image](https://user-images.githubusercontent.com/6376814/125694265-621339f9-e0e1-4ba3-bba1-e830cfab505e.png)

[2021-07-14 21:19] jasonmccreary commented on #15
@ordago, would you mind running the cloud-based version again, just to confirm it still makes the changes?

[2021-07-14 21:24] colinmackinlay opened #23 "WSL path to project recognised but won't run check - "Failed to find artisan""
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version:0.4.2.0

**Describe the bug**
My project is stored in WSL so the path to the project can be either `Z:\home\colin\project` or `\\wsl$\home\colin\project` when I browse in Windows Explorer. Only the mapped drive version is recognised as a valid project path in Workbench. When I run a check the docker image spawns fine but at the preparing

[2021-07-14 21:31] ejunker commented on #6
@jasonmccreary I updated to the latest version and now it runs much faster (266s) but it still got an error. When I was testing with Rector I had doubts about which directories it was scanning based on the Option:SKIP set in the config when combined with directories specified on the command line. It seemed like it may be a bug in Rector. I'll try to do some more testing to see if I can narrow down

[2021-07-14 21:33] jasonmccreary commented on #23
We don't have access to a Windows machine with WSL storage. So it will not be possible for us to recreate this issue.

A few clarifications:

- What path are you entering?
- Is `artisan` underneath that path? Is it a direct child or deeper?
- Is Workbench displaying an error when you try to select the WSL path?

[2021-07-14 21:34] jasonmccreary commented on #6
Were you running that latest version (0.4.2? We've since pushed more changed to hopefully improve these tasks.

[2021-07-14 21:40] ordago commented on #15
@jasonmccreary Sure, here it is. Build #1674.

This time the cloud didn't make any changes. But apparently I did merge the previous request 😅.

It seems there are some edge cases so I was finding examples of request() in controllers.

If you want I can get some examples.

[2021-07-14 21:55] ordago commented on #15
`return $query->whereRaw($q, [$start, $end, $start, $end, round(request('absenteeism', $absenteeismPercent) / 100, 2)]);`

This is in an invokable controller and it also uses `request('key', $default)` instead of `request()->get('key', $default)`.

The rest of the examples are in a long private helper method on a controller.

[2021-07-14 22:03] colinmackinlay commented on #23
Hello Jason – impressive response time 😊

  1.  The path I am entering is as per the issue: \\wsl$\home\colin\project which isn’t recognised by workbench. I also have \\wsl$<file://wsl$> mapped as a drive to Z:\ so I can also use the path Z:\home\colin\project workbench recognises this but then throws the error
  2.  Artisan is a direct child there – the standard Laravel project setup
  3.  Yes –

[2021-07-14 23:46] jasonmccreary commented on #23
Looks like part of your reply got encoded. So I'm not sure the error message.

Anyway, we'll do some research and see if we find any open issues or notes related to mapping WSL paths in Electron.

[2021-07-14 23:48] jasonmccreary commented on #15
Ok. We'll note these edge cases. However, since you already merged the changes and did not receive the same error I am going to assume our fix worked. At least for this issue. 😅

[2021-07-14 23:48] #15 closed, assigned to jasonmccreary

[2021-07-15 04:44] jessarcher commented on #21
It turns out Rector only supports PHP's `compact(string $var_name, string ...$var_names)` syntax and ignores the alternative array syntax that is being used here.

I have PR'd Rector to support the full recursive array syntax which will hopefully be merged and released soon.

[2021-07-15 07:37] colinmackinlay commented on #23
Thanks. In case it helps the error is this:
![image](https://user-images.githubusercontent.com/7833362/125748448-484fe12e-5c6c-403c-9b45-508948930473.png)

[2021-07-15 12:10] amaelftah opened #24 "Common docker issues"
**What would you like to do?**
after I installed docker on ubuntu machine .... i found workbench still giving this error

![Screenshot from 2021-07-15 13-20-28](https://user-images.githubusercontent.com/17250137/125784754-74688e47-4377-4e9f-a09a-99f531c622a5.png)

after I spend an hour or two search,ing I found [this article solved my problem](https://dev.to/try_catch/docker-connect-permission-den

[2021-07-15 12:12] amaelftah opened #25 "Ability to stop long running task"
**What would you like to do?**
sometimes I run task that may take long time or I some times I run task by mistake on different project ... so I think the ability to stop a task that would be awsome

[2021-07-15 12:16] amaelftah opened #26 "Workbench grouped tasks"
**What would you like to do?**
sometimes I want to run multiple tasks together on different projects so my suggestion is :

- have yaml file same as web interface ... to run multiple tasks after each other

- ability to save those tasks under a certain name in order to run them on different projects

[2021-07-15 12:29] jasonmccreary commented on #24
Thanks for reporting. This does appear to be part of the [post install instructions](https://docs.docker.com/engine/install/linux-postinstall/).

However, we will keep this in mind for a future FAQ or troubleshooting section as you suggested.

[2021-07-15 12:29] #24 closed, assigned to nobody

[2021-07-15 12:31] jasonmccreary commented on #25
Great idea. We'll look into adding this in a future release.

In the meantime, you can look under the "Analyzing project" section to see if you have a "large project" and tips for possibly speeding up some of tasks. Specifically the PHP ones.

[2021-07-15 12:33] jasonmccreary commented on #26
This exists!

- Switch to "Editor Mode" (from the _Build_ menu or Ctrl + Shift + E)
- Add the tasks you wish to run to the editor
- Save the build as YAML (from the _File_ menu or Ctrl + S)

When you want to use it on another project in the future (or share it), simply open the build YAML (from the _File_ menu or Ctrl + O) and the app will automatically switch to "Editor Mode" and load your tasks.

[2021-07-15 12:33] #26 closed, assigned to nobody

[2021-07-15 12:40] amaelftah commented on #26
sorry my mistake didn't see it

[2021-07-15 17:17] jasonmccreary commented on #26
No worries. Lots of features inside the Workbench.

[2021-07-15 17:18] jasonmccreary commented on #23
@colinmackinlay, out of curiosity, which task were you trying to run?

[2021-07-15 20:44] jasonmccreary commented on #22
This should be resolved in the latest update (0.4.3).

[2021-07-15 20:44] #22 closed, assigned to jasonmccreary

[2021-07-15 20:54] colinmackinlay commented on #23
`Short array syntax` - just the first one in the list as a test. Just tried `Use ::class constant` and had same issue @jasonmccreary

[2021-07-16 10:20] ordago opened #27 "Adopt anonymous migrations deleted the content of the stubs"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.4.4.0

**Describe the bug**
The stubs were created when I previously ran the task. After running it again to convert a new migration it has emptied the content of the stubs.

**To Reproduce**
Steps to reproduce the behaviour:
1.  Run Task

I added the return type to the stubs. That might have caused the issue.

![image](https://user-i

[2021-07-16 12:18] jasonmccreary commented on #27
This is a bug introduced in the last release. We'll get a patch out later today.

[2021-07-17 14:02] adrianspacely opened #28 ""Failed to run rector" on a few tasks"
**Desktop:**
 - OS: Mac
 - OS Version: 11.4
 - App Version: 0.4.4

**Describe the bug**

I've been running a few simple refactoring tasks to dip my toes in, but have been receiving this error:

[code]

At first, I thought it was to do with my project's dependencies, but my project's `PHPStan\PhpDocParser\Ast\Type\IdentifierTypeNode` had no abstract methods.

I experienced this issue on the followi

[2021-07-17 14:50] jasonmccreary commented on #28
@adrianb93, we normally see this issue when there is a local dependency conflicting. Can you try some of the potential work arounds listed in #13, particularly removing your dev dependencies, and see if it resolves this issue.

[2021-07-19 15:38] jasonmccreary commented on #27
This should be resolved in the latest release (0.4.5).

[2021-07-19 15:38] #27 closed, assigned to nobody

[2021-07-19 15:38] jasonmccreary commented on #28
@adrianb93 did removing your development dependencies help?

[2021-07-19 18:34] svpernova09 commented on #23
@colinmackinlay Hi! I've been running Workbench in WSL2. A couple of questions to help debug:

Are you using WSL 1 or WSL 2? (To check run `wsl -l -v` in Powershell and look for your Distribution name and the corresponding version)

How are you running Docker? Are you using Docker Desktop's WSL2 based engine?

Assuming you're running WSL2 + Docker's WSL2 engine: IMHO You shouldn't run the Workbenc

[2021-07-19 20:26] colinmackinlay commented on #23
@svpernova09 Hello Joe - WSL2 is running
![image](https://user-images.githubusercontent.com/7833362/126221951-ddabcb94-b1c1-47f2-a8d7-491b5c5c2e97.png)

I'm running Workbench from Windows but the files are all in linux on `\\wsl$\`

For projects on `c:\` Workbench (from Windows) is fine

I suppose I could run Workbench from linux but I guess I'd need to add a desktop environment on linux for that

[2021-07-19 21:25] svpernova09 commented on #23
Using Version 0.4.5 of Workbench on Windows 10; I'm unable to reproduce the original bug where the Workbench app can't find the path. Running the php/code-format against a Laravel 8 project stored on the WSL2 path `\\wsl$\jameson\home\halo\Code\rfid` completed successfully and as expected.

Browsing from Local project to WSL path:

![image](https://user-images.githubusercontent.com/967362/12622893

[2021-07-20 00:26] adrianspacely commented on #28
Hey, I haven't forgotten about this. I will be trying those suggestions later this week 🙂

[2021-07-20 09:07] colinmackinlay commented on #23
@svpernova09 thanks Jason! WSL2 engine was enabled but integration with additional distros wasn't. That didn't work but then a combination of upgrading Workbench, rebooting and then also removing the network drive mapping has cleared it and I've run some inspections successfully.

@jasonmccreary thank you for investigating too :)

[2021-07-20 09:07] #23 closed, assigned to nobody

[2021-07-20 13:26] svpernova09 commented on #23
Glad you got it working!

--
- Joe Ferguson
JoeFerguson.me
osmihelp.org
On Jul 20, 2021, 04:07 -0500, colinmackinlay ***@***.***>, wrote:

[2021-07-20 13:33] jasonmccreary commented on #23
@colinmackinlay, glad you got it working. All thanks goes to @svpernova09 for stepping in and sharing his knowledge. I had suspected it was a local configuration issue based on the actual filesystem reporting "path not found". But had no idea where to look.

[2021-07-20 16:11] adrianspacely commented on #28
I followed the steps. Got a different error this time, not enough info to debug with:

[code]

If it's relevant, our project is still on PHP 7.4

[2021-07-20 16:39] jasonmccreary commented on #28
It's possible there may be a 7.4 to 8.0 difference in the code causing it to fail. But unlikely.

If you have a moment, maybe you could try running this in the [cloud-based Workbench](https://laravelshift.com/workbench). That would let us know it's a local issue and not a project/code issue.

[2021-07-21 13:57] jasonmccreary commented on #21
@proclame this should be resolved in the latest release (0.4.6). Let us know.

[2021-07-21 13:57] #21 closed, assigned to jessarcher

[2021-07-21 13:57] jasonmccreary commented on #9
@luke83 this should be resolved in the latest release (0.4.6). Let us know.

[2021-07-21 13:57] #9 closed, assigned to jessarcher

[2021-07-21 14:10] proclame commented on #21
@jasonmccreary Confirmed! I ran it again (with the new version) on the same codebase, and worked as expected now!
Thanks @jessarcher :-)

[2021-07-22 09:15] colinmackinlay commented on #23
@svpernova09 Hi Joe, have you found a permissions issue with your config? Now that I've got this working, Workbench works fine with files in my projects but changes their ownership from colin:colin to root:root

I then have to `sudo chown- R colin:colin proect` before I can carry on editing manually with my IDE (PhpStorm)

[2021-07-22 11:17] jasonmccreary commented on #23
@colinmackinlay, this is a known issue. We're looking into it and will push a patch soon.

[2021-07-28 09:01] mortenscheel opened #29 "Workbench doesn't respect excluded_paths from .shiftrc"
**Desktop:**
 - OS: Ubuntu
 - OS Version: 20-04
 - App Version: 0.4.6.0

**Describe the bug**
Apparently Workbench doesn't read `excluded_paths` from `.shiftrc` when running tasks.

I've added `excluded_paths = "app/Subfolder"` to `.shiftrc` because the folder contains some problematic classes that trigger an infinite loop/recursion when PhpStan tries to analyze them. I can process the project wit

[2021-07-28 09:12] mortenscheel opened #30 "Allow running tasks as non-root user"
**What would you like to do?**
When I run Workbench locally, the modified files end up being owned by root. It would be great if I could choose a different user:group to run the tasks as. Or if Workbench could just leave the ownership unchanged, that would be even better.

I'm running Workbench in Ubuntu 20.04 (through WSL2 on Windows 10)

[2021-07-28 09:53] jessarcher commented on #30
Hey @mortenscheel, thanks for the feedback! I've actually been working on this already as I'm also on Linux and have the same issue. We just need to make sure the changes don't break Mac or Windows and then we'll release it :+1:

[2021-07-28 12:54] jasonmccreary commented on #29
@mortenscheel, does the path you are specifying contain the `.shiftrc` file? Which task are you running? If it is a PHP task, what is output for the tasks for "scanning folder"?

[2021-07-28 13:15] mortenscheel commented on #29
Hi @jasonmccreary

No, the `.shiftrc` file is in the project root, and I'm trying to exclude `app/Subfolder`.
I'm running `php/switch-to-match`
The task log shows `>>> Event: Processing paths: database, app, config, routes, tests`.

By the way I finally figured out why PHPStan went into infinite recursion when trying to analyse those classes: phpstan/phpstan#5390

[2021-07-28 13:19] jasonmccreary commented on #29
@mortenscheel, I assume you specify the path to the project root in the Workbench?

[2021-07-28 13:52] mortenscheel commented on #29
Yes. I select the project folder using the Browse button, and it looks correct in the editor:
[code]

Besides, it does manage to modify some of the files, until it reaches the folder that causes infinite recursion (which should have been excluded).

I've tried the same recipe in Linux, Windows and online, and all of them fail. Presumably because they run out of memory trying to analyse the problem

[2021-07-28 13:53] jasonmccreary commented on #29
Sounds good. We'll get this patched up in the next few days.

[2021-07-28 14:51] mateusgalasso opened #31 "Not running in windows"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: [e.g. 0.1.0]

**Describe the bug**
Spawned Docker background process with PID 10628
docker: Error response from daemon: error while creating mount source path '/run/desktop/mnt/host/c/Users/mateu/AppData/Roaming/Workbench/build.json': mkdir /run/desktop/mnt/host/c: file exists.

**To Reproduce**
1 - select any task
2 - run

![image](htt

[2021-07-28 15:37] jasonmccreary commented on #31
The Workbench certainly works on Windows. This is likely a path or Docker issue.

Can you review the comment for #23 and see if that has any tips which may help.

[2021-07-28 19:34] mateusgalasso commented on #31
You were right!!! I erased some volumes and  it's working now.
Thks.

[2021-07-28 19:34] #31 closed, assigned to nobody

[2021-07-28 23:09] jasonmccreary commented on #31
@stonkeep, awesome. Glad you got it.

[2021-08-02 13:54] jasonmccreary commented on #28
Closing as unanswered.

[2021-08-02 13:54] #28 closed, assigned to nobody

[2021-08-02 16:49] jasonmccreary commented on #29
This should be patched in the latest release (0.4.7). Let us know if you have any issues.

[2021-08-02 16:49] #29 closed, assigned to nobody

[2021-08-02 16:49] jasonmccreary commented on #30
@mortenscheel, this should be patched in the latest release (0.4.7). Let us know if you have any issues.

[2021-08-02 16:49] #30 closed, assigned to nobody

[2021-08-06 12:22] roylaveto opened #32 "PHP tags in blade files"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur
 - App Version: 0.4.7

**Describe the bug**
When running some tasks it adds PHP tags to blade files. It sees these as actual problems fixed, whilst it messes up the files.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a Laravel project with blade files
2. Run php/create_function
3. Check changes

https://imgur.com/a/Yxq4agt

[2021-08-06 13:08] jasonmccreary commented on #32
I actually noticed this myself yesterday when using the new _Format_ tests task.

We'll take a closer look and get this fixed.

[2021-08-06 13:11] Roy-Ernst commented on #32
Great to hear that it's getting fixed!

I noticed something else, the normal fixes run just fine. But the 'Laravel' fixes finish within 1 second and don't show any output. Maybe it's just me but it doesn't seem to be working no matter what I do.

https://imgur.com/a/ReSCpc1

[2021-08-06 13:16] jasonmccreary commented on #32
@Roy-Ernst, please open a separate issue for other bugs. Otherwise, it'll get lost in the thread. 👍

[2021-08-06 13:18] roylaveto opened #33 "Laravel fixes not working"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur
 - App Version: 0.4.7

**Describe the bug**
The normal fixes run just fine. But the 'Laravel' fixes finish within 1 second and don't show any output. Maybe it's just me but it doesn't seem to be working no matter what I do.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a Laravel fix (make sure there are things to fix)
2. Wait for the resul

[2021-08-06 13:22] jasonmccreary commented on #33
@Roy-Ernst, we can definitely work on the output. However, are you sure your project had models which should be "fixed"?

Just trying to distinguish if this is simply an output issue or if there was code it missed. If the latter, please provide a code snippet you expected this task to change.

[2021-08-06 13:26] roylaveto commented on #33
Trying to run Model Date Casts.

There are 2 files with:
[code]

But every Laravel fix has a 0-1 second time before completing, which is really odd. Other fixes take at least 5-10 seconds.

[2021-08-06 13:32] jasonmccreary commented on #33
Some tasks use system tools underneath which might be slow, some are simply string manipulation which can be very fast. Runtime is just a metric. It's not an indication of change.

With that said, it should have changed the snippet above. Out of curiosity, where is the file located in your project structure?

[2021-08-06 13:35] roylaveto commented on #33
Oh didn't know that. The more you know! Haha.

It is located in: [project]/galaxy/modules/WebsiteNews/Models/WebsiteNews.php
I added `"Galaxy\\": "galaxy/"` to the PSR-4 autoload for composer. Which made it check that folder as well for other fixes. So I know it does read the folder.

[2021-08-06 13:40] jasonmccreary commented on #33
Ah, so that's likely the bug here, this task may not be respecting the custom folder path. We'll take a look.

[2021-08-06 13:48] roylaveto commented on #33
Great! Let me know when it's fixed and I'll test it out!

[2021-08-06 23:39] plakhin opened #34 "Docker build fails on 0.4.7 and 0.5.0"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.5.0

**Describe the bug**
Docker build fails after update to 0.4.7 and 0.5.0, though worked fine on 0.4.6:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 0.4.7 or 0.5.0
2, Try to run any task

![image](https://user-images.githubusercontent.com/25561058/128580248-429e921b-0e89-439a-a759-2387d2c7e7e4.png)

[2021-08-07 11:48] jasonmccreary commented on #34
We added this to solve an issue on Linux, but looks like it now affects Windows. Are you using WSL?

[2021-08-08 01:13] jessarcher commented on #34
If PR'd a fix for this so will hopefully be able to release it soon :+1:

[2021-08-08 01:15] plakhin commented on #34
Yes, WSL2

[2021-08-09 11:59] jasonmccreary commented on #32
@Roy-Ernst this unfortunately looks like a bug introduced by Rector - which is a tool some of these PHP tasks use underneath. @jessarcher has [reported this bug](https://github.com/rectorphp/rector/issues/6622) to them, so hopefully we'll see a fix soon.

In the meantime, I think there's more value in receiving the changes and removing any added PHP tags than ignoring Blade templates entirely.

[2021-08-09 12:53] jasonmccreary commented on #34
This should be resolved in the latest release (0.5.1). Let us know if not.

[2021-08-09 12:53] #34 closed, assigned to jessarcher

[2021-08-09 12:53] jasonmccreary commented on #33
This should be resolved in the latest release (0.5.1). Let us know if not, or you find any other tasks which may not be respecting your autoload paths.

[2021-08-09 12:53] #33 closed, assigned to jasonmccreary

[2021-08-09 13:05] plakhin commented on #34
0.5.1 works fine, thanks!

[2021-08-10 11:04] jessarcher commented on #32
This has now been fixed upstream. Just need to wait for a rector release and then we can release a Workbench update.

[2021-08-14 11:55] jasonmccreary commented on #32
This should be resolved in the latest release (0.5.2). Let us know if you still see a problem.

[2021-08-14 11:55] #32 closed, assigned to jessarcher

[2021-08-14 11:56] jasonmccreary commented on #18
This should be resolved in the latest release (0.5.2). There may be more packages to manage, but the core packages should be honored.

[2021-08-14 11:56] #18 closed, assigned to jasonmccreary

[2021-08-14 11:56] jasonmccreary commented on #10
This should be resolved in the latest release (0.5.2). Let us know if you still see a problem.

[2021-08-14 11:56] #10 closed, assigned to nobody

[2021-08-27 14:19] SudoGetBeer opened #35 "Convert optional helper to php8 ?->"
Hello,
thanks for the great tool!

**What would you like to do?**
Would be nice to convert all optional($var)->name to $var?->name (for PHP8).

**Before/After code snippets**
Before:
[code]
After:
[code]

Best regards

[2021-08-27 14:23] jasonmccreary commented on #35
@SudoGetBeer, I like it. @freekmurze asked for this as well. So we'll build it in either as a separate tool or the "Null safe" task.

[2021-08-31 15:19] BrandonSurowiec opened #36 "Code Fixer Support for Packages."
**What would you like to do?**
I'd like to run the Laravel code fixer against my package's `src` folder without setting up my own `.php_cs.laravel` file.

Currently the `php/code-format` task fails with this error:

[code]

[2021-08-31 15:21] jasonmccreary commented on #36
Can you tell me a little more about the project. You said package, is it a Composer package? If so, what is under the `autoload` configuration?

[2021-08-31 15:25] BrandonSurowiec commented on #36
Sure. It's a private package that has a `composer.json`. The autoload section looks like this:

[code]

Directory structure is..

- src/
- tests/
- vendor/
composer.json

[2021-08-31 15:26] jasonmccreary commented on #36
I see. Shift should have intelligently determined which to scan and not default to `app`. Going to mark this as a bug. We'll get it cleaned up alter this week.

[2021-09-05 12:48] patrick-radius opened #37 "Convert 'magic' accessors or mutators in to traditional methods"
As mentioned on Twitter we have projects where devs have in the past make extreme uses of accessors and mutators.
So for example a User class has something like:
[code]
which is then used all over the codebase as `$user->contacts`

For simple stuff like concatenating firstname and lastname into a fullname property i think accessors are great.
But i think this example shows there's way too much cod

[2021-09-07 13:15] jasonmccreary commented on #37
@patrick-radius, I think this is a cool bit of automation. Especially for a legacy code base. I could see it having a few options as well. So I'd like to think through those over the next few weeks. Maybe see what I'd want converted in my own code.

In the meantime, if you have more snippets, feel free to comment with more code.

[2021-09-07 15:51] Gummibeer opened #38 "Convert Model scopes to Query Builder class"
**What would you like to do?**
The new task should convert scope methods on Models to Query-Builder classes.

https://twitter.com/RienvanVelzen/status/1434522901714190346

**Before/After code snippets**

[code]

[code]

[2021-09-08 00:13] mberneis opened #39 "Build failed with missing shiftrc dotfile during "Bump Laravel Package Dependencies""
**Desktop:**
 - OS: Mac OSX
 - OS Version: 11.5.2
 - App Version: 0.5.2

**Describe the bug**
Running "Bump Laravel Package Dependencies" with Append YES and Version 8.0 on my application
Getting notice about missing `.shiftrc` - Not sure if I am supposed to provide this in my code or if generated (and failed) by docker process.

![image](https://user-images.githubusercontent.com/30384/132425342-5

[2021-09-08 12:33] jasonmccreary commented on #39
Is your project a Laravel package or a Laravel application?

[2021-09-08 12:33] BrandonSurowiec opened #40 "Minor: "Streamline order methods" PHP warning"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.5.2

**Describe the bug**
In the output log of the "Streamline Order by task" there was this PHP warning:

[code]

The task still works perfectly in converting a bunch of `orderBy` statements.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'Streamline order methods' task using Desktop Workbench

![image](https://user-images

[2021-09-08 13:15] jasonmccreary commented on #40
Some tasks will emit raw warnings for syntax they don't expect. While not the best UX from our side, it's proven better than to silence them.

I'll keep it in mind if it pops up again, but I'm going to close this for now.

[2021-09-08 13:15] #40 closed, assigned to nobody

[2021-09-08 13:54] BrandonSurowiec commented on #40
No problem! Was unsure whether it meant my code was doing something unruly or if there was a possible edge-case that couldn't be converted. If the former, would be cool to know what file and line, but I digress. Thanks for all your work over the years to make our jobs easier!

[2021-09-08 13:55] jasonmccreary commented on #40
Totally agree. This could be cleaner for sure. I'll keep it in mind.

[2021-09-08 14:10] mberneis commented on #39
An application

[2021-09-08 14:19] jasonmccreary commented on #39
While it may not fix the problem, this particular task is for Laravel Packages, not Laravel applications. We are tweaking the task description in the next release.

Please try the "Bump Laravel Dependencies" task instead and let me know if that works.

[2021-09-08 14:37] mberneis commented on #39
That works - thank you! - I misunderstood the task - thought it would look into non-laravel packages and upgrade those dependencies used in the application

[2021-09-08 14:37] jasonmccreary commented on #39
Excellent. That wording will be cleaned up in the next release.

[2021-09-08 14:37] #39 closed, assigned to nobody

[2021-09-09 16:29] macbookandrew opened #41 "Better handling for PHP fatal errors"
**What would you like to do?**
When a fatal error is thrown, it would be great to have a bit more context about what file was being processed when the error occured.

Example output when running the PHP7.3 Array Functions task:

[code]

I’ve searched my codebase for `class Collection` and ~it’s not coming up~ just found it in `_ide_helper.php` from [this package](https://github.com/barryvdh/larave

[2021-09-09 17:28] jasonmccreary commented on #41
Totally agree. This has all been internal Shift logs, so they're a bit raw. We'll work to clean these up so there's a bit more direction on how you might resolve the issue yourself.

In this case, did removing the `_ide_helper.php` file resolved the issue?

[2021-09-09 17:31] macbookandrew commented on #41
Unfortunately that didn’t resolve it. I was able to run the same shift on another project and it ran fine so must be something about the specific project, but I haven’t been able to dig any further yet.

All of the generic PHP shifts I tried on that specific project failed with the same error, though the Arrow functions did process and update some files before it failed.

Thanks for Workbench and

[2021-09-09 17:34] jasonmccreary commented on #41
If you'd be willing to try the same task on the cloud-based Workbench and respond back with the build number, I may be able to help diagnose the issue by reviewing the server logs.

Otherwise, we should be able to patch this in the next week or so.

[2021-09-09 21:44] macbookandrew commented on #41
I can wait for the patch unless it would help you for me to run the same cloud-based task

[2021-09-09 22:09] jasonmccreary commented on #41
The cloud based task might clue me into your problem. But in general, it's not necessary for us to improve the error reporting. So your call. If you run it, feel free to email support with your build number so I can take a look.

[2021-09-13 12:37] Gompje commented on #13
idea: it would be fantastic if workbench would be  able to exclude certain folders like `node_modules`.

I know I can delete them, but I do _need them to commit_, they are needed for the pre-commit tasks. And while I can bypass those, know that I can optimize setup docker for faster I/O with Parallels like I did in the past (I'm not using docker anymore) -- I was wondering if it wasn't possible fo

[2021-09-13 13:36] jasonmccreary commented on #13
@Gompje, absolutely. Unfortunately it's a Docker thing. We will continue to look into it as there are other mount types. Unfortunately each one has tradeoffs on the various platforms. So what's fast on Windows, may not be fast on Mac.

[2021-09-14 12:08] mortenscheel opened #42 "laravel/tuple-action also runs laravel/fluent-routes"
**Desktop:**
 - OS: Ubuntu
 - OS Version: 20.04
 - App Version: 0.5.2

**Describe the bug**
Running the laravel/tuple-action shift also runs laravel/fluent-routes.
This is unexpected, since it isn't mentioned in the task description.

Workaround: Running laravel/class-based-routes will also run tuple-action, but not fluent-routes.

**To Reproduce**
Steps to reproduce the behavior:
Run laravel/tupl

[2021-09-14 12:32] jasonmccreary commented on #42
In Laravel 8, you can not use the options array-syntax with tuple actions. So while implicit, it is a requirement of using "tuple actions".

[2021-09-14 14:22] mortenscheel commented on #42
@jasonmccreary I think we misunderstand each other. Laravel 8 has no problem with tuple-action routes inside a Route group with options array.

I expect `laravel/tuple-action` to turn this
[code]
Into this (which works fine in Laravel 8):
[code]
But I get this, where the route group is also transformed to fluent syntax:
[code]

In other words, I expected tuple-action to ignore the route groups and

[2021-09-14 14:24] jasonmccreary commented on #42
I see now. Thanks. I will reopen this to run a "minimal" version of converting to fluent routes when the "tuple syntax" task is run.

[2021-09-17 01:29] ricklambrechts opened #43 "nullsafe-operator only changing first one"
**Desktop:**
 - OS: Windows 10
 - OS Version: 20H2
 - App Version: 0.5.2

**Describe the bug**
The nullsafe-operator task only changes the first sentence inside an if statement.

**To Reproduce**
Steps to reproduce the behavior:
1. I have this code:
[code]
2. I run nullsafe-operator.
3. Then i have this code:
[code]
4. Expected to have:
[code]

[2021-09-17 11:12] jasonmccreary commented on #43
@jessarcher, can you take a look at this? I feel I too have seen where Rector only picks up the first change.

[2021-09-20 20:14] eby opened #44 "Duplicate namespace path in tuple action"
**Desktop:**
 - OS: Mac
 - OS Version: 12 beta
 - App Version: 0.5.2

**Describe the bug**

When running actions to tuples (tuple-action) on a file that has the full class path in action() it appends a duplicate namespace in front. This code is probably not really great to begin with but it does work.

**To Reproduce**
Steps to reproduce the behavior:

1. Have a file that contains code like: `acti

[2021-09-20 20:31] jasonmccreary commented on #44
@eby, just to snag a bit more context, is you Laravel app namespace `App`, or have you customized it?

[2021-09-20 20:42] eby commented on #44
Yes, all default namespaces. Controllers are `namespace App\Http\Controllers;`

[2021-09-20 20:50] jasonmccreary commented on #44
Awesome. Okay, we'll get this fixed up.

[2021-09-28 13:13] jasonmccreary commented on #44
@jessarcher, we should probably check if the top-level namespace matches a known _app namespace_. If so, skip prefixing the controller namespace.

[2021-09-28 13:15] jasonmccreary commented on #41
@jessarcher, can you see if we can somehow determine from Rector's output which file it failed to parse and report this back to the app.

[2021-09-28 13:18] jasonmccreary commented on #36
@jessarcher, Shift should get the _source paths_ based on the project. It's possible we have hardcoded `app` somewhere it should not be or are relying on the paths set within our internal CS Fixer ruleset when we may need to be passing the paths when it's not a Laravel app structure.

[2021-09-28 13:20] jasonmccreary commented on #35
This has been added in 0.6.0 as the "optional to nullsafe" task. There are some complex snippets (like the nested on you have) it may not yet convert. But should get most. We'll continue to tweak it. 👍

[2021-09-28 13:20] #35 closed, assigned to nobody

[2021-09-30 11:03] ordago opened #45 "Class based routes mishandles parameter in name (edge case)"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.6.0.0

**Describe the bug**
While upgrading an app with a non conventional route naming convention I found the the names were not converted correctly.

**To Reproduce**
Steps to reproduce the behavior:
3. Run Class based routes task

[code]

![image](https://user-images.githubusercontent.com/6376814/135443765-7824467f-88c4-4717-93a3-4

[2021-10-05 00:11] jasonmccreary commented on #45
Interesting. I didn't even know you could name routes with that syntax. 🤔

[2021-10-05 00:32] ordago commented on #45
![image](https://user-images.githubusercontent.com/6376814/135942160-a07a643c-bb59-40e1-8380-57a267e80d97.png)

It seems all sort of unadvisable things can be done 😅

[2021-10-05 07:06] jessarcher commented on #36
Hi @BrandonSurowiec, we've merged a fix for this and will hopefully deploy soon :slightly_smiling_face:

[2021-10-05 12:21] BrandonSurowiec commented on #36
Huzzah! Thank you @jessarcher.

[2021-10-05 16:43] jasonmccreary commented on #36
This should be patched in the latest release (0.6.1). Let us know if not.

[2021-10-05 16:43] jasonmccreary commented on #44
This should be patched in the latest release (0.6.1). Let us know if not.

[2021-10-05 16:43] #44 closed, assigned to jessarcher

[2021-10-05 16:43] jasonmccreary commented on #45
This should be patched in the latest release (0.6.1). Let us know if not.

[2021-10-05 16:43] #45 closed, assigned to jessarcher

[2021-10-05 18:55] devNoiseConsulting opened #46 "'Class based routes' shift ignoring namespace method."
**Desktop:**
 - OS: Mac
 - OS Version: 10.14.6
 - App Version: 0.6.0 (0.6.0)

**Describe the bug**
Ran the 'Class based routes' shift on an app and ended up with incorrect paths to classes. Shift did not seem to take the namespace into consideration when creating class path.

Default path in RouteServiceProvider was: App\\Http\\Controllers
Namespace method adds: Clients

**To Reproduce**
Steps to

[2021-10-05 19:05] devNoiseConsulting commented on #46
This app has an EditController in the Application, Clients, and Users namespaces. I understand that the routes still might have some problems after the shift. It makes sense that I would have to add aliases to those imports.

[code]

[2021-10-05 19:30] jasonmccreary commented on #46
@devNoiseConsulting, this case should be covered. Can you update to 0.6.1 and see if it still happens. If so, we'll run your snippet through our test suite to see what might be missing.

[2021-10-05 19:34] BrandonSurowiec commented on #36
@jasonmccreary @jessarcher  Unfortunately it didn't seem to work.

"The "/project/app" directory does not exist."

Is this my error?

![image](https://user-images.githubusercontent.com/5625680/136090595-e59dbb54-cb02-4bea-b8dd-2a5f683bc278.png)

[2021-10-05 19:47] devNoiseConsulting commented on #46
@jasonmccreary Updated workbench to 0.6.1. Docker image is v19. The result of the shift is the same as the one from the 0.6.0 version.

[2021-10-05 22:24] jasonmccreary commented on #46
@devNoiseConsulting, shucks. I'll take your code snippet and run it through our test suite to see what it does.

[2021-10-05 22:26] jasonmccreary commented on #36
Strange. We definitely fixed this. Did it rebuild the Docker image? Also, how is your `src` folder mapped in the package's composer.json `autoload` configuration?

[2021-10-05 23:46] jasonmccreary commented on #46
@devNoiseConsulting, I understand more of what you are saying now. Did it import _any_ of these nested namespace controllers correctly. Or were they all simply top level?

[2021-10-05 23:57] jasonmccreary commented on #36
@BrandonSurowiec, unfortunately although we did make changes to sniff out the source paths for non-Laravel project, the underlying PHP CS Fixer ruleset still looks for these directories. We'll need to find a way around that for non-Laravel projects.

[2021-10-06 02:25] devNoiseConsulting commented on #46
@jasonmccreary None of the nested namespaces made it into the class path for the controllers. Also found another example in my api.php where it used the namespace method twice and neither of those made it into the class path.

Starting route:
[code]

Result of shift:
[code]

Expected result shift:
[code]

[2021-10-06 12:04] jasonmccreary commented on #46
Thanks for the additional code snippets. We'll get these added to our test cases and patch up in the next release.

[2021-10-06 13:59] jasonmccreary commented on #36
Okay, we just released 0.6.2 which has new assets which should compensate for this PHP CS Fixer restriction. Tested on a few of my packages, but let us know...

[2021-10-06 13:59] #36 closed, assigned to jessarcher

[2021-10-12 13:47] ordago opened #47 "New task: Change usages of FakerPHP property accessors to method calls"
**What would you like to do?**

https://github.com/FakerPHP/Faker/pull/164

In that pull request FakerPHP has marked property access as deprecated

[code]

**Before/After code snippets**

[code]

[2021-10-12 14:56] jasonmccreary commented on #47
@jessarcher, this could be a cool PHP task.

[2021-10-13 00:23] jessarcher commented on #47
This is a great idea!

[2021-10-22 12:26] spaantje opened #48 "Fluent Routes bug"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur, 11.5.2
 - App Version: 0.6.3

**Describe the bug**
I have run the Fluent Routes task but it is not translating the route correctly. A image of the diff:
![image](https://user-images.githubusercontent.com/477362/138452717-5cbda362-807b-4651-9b83-7c2f73f5c6e9.png)

**To Reproduce**
Steps to reproduce the behavior:

This:
[code]

Gets translated to:
[co

[2021-10-22 12:30] jasonmccreary commented on #48
Thanks for reporting. We'll get this reviewed and patched next week.

[2021-10-22 13:06] spaantje commented on #48
Thanks. No rush :-)

[2021-11-20 02:12] ergonomicus opened #49 "Spinner icon keeps rotating"
**Desktop:**
 - OS: Linux
 - OS Version: Linux Mint 20.2 Cinnamon
 - App Version: 0.7.0

**Describe the bug**
After running a Global Facade task, the cog icon keeps on spinning, though the task seems completed:
`{"event":"step-completed","data":{"step":"laravelglobal-facades","runtime":"3.027063"}}`

**To Reproduce**
Steps to reproduce the behavior:
1. Open Workbench desktop app (AppImage) and sel

[2021-11-20 14:00] jasonmccreary commented on #49
Yes, this is a known bug which happens on all platforms. It happens when the I/O between the system and Docker get out of order. It's a hard one to solve, but its on our radar.

[2021-12-02 01:27] shawnveltman opened #50 "Format Test Cases incorrectly formatting "setUp" method"
**Desktop:**
Mac
Montery
12.0.1

**Describe the bug**
When running the Format Test Cases task, and selecting the "annotation" method, I expect it to only add annotations that don't exist IF the method is prefixed by test. The behavior of the task instead seems to add the annotation to all methods (most noticeably, the setUp method)

**To Reproduce**
Steps to reproduce the behavior:
1. Have a test

[2021-12-03 13:04] jasonmccreary commented on #50
Technically the `setUp` method is not `public`. It should be `protected`. I believe higher versions of PHPUnit emit a notice for this.

This visibility change is automated by the recent [Laravel upgrade Shifts](https://laravelshift.com/shifts) as well as the [PHPUnit Shifts](https://laravelshift.com/shifts?category=php). I may also add it as a precondition to this task. Which would prevent this co

[2021-12-03 13:04] #50 closed, assigned to nobody

[2021-12-15 22:37] edgrosvenor opened #51 "Incorrect typehint for HasMany relationships (\Illuminate\Database\Eloquent\Builder)"
**Desktop:**
 - OS: Mac
 - OS Version: 12.0.1
 - App Version: 0.7.2

**Describe the bug**
I ran "Adopt Type Hints" on a legacy project where I had manually added them in a few places. In places where I had added `HasMany`, Workbench changed it to `\Illuminate\Database\Eloquent\Builder`. I can't find any examples of it having gotten it wrong where I didn't already have a typehing defined, but that

[2021-12-15 22:39] edgrosvenor commented on #51
Quick followup. I did find another instance where I had HasMany relationships without a typehint already in place and in those cases, the correct type was added. So it's only making the mistake of the type is already there. So for instance

`public function coaches(): HasMany` would break

`public function coaches()` would get the correct typehint added

[2021-12-15 23:05] jasonmccreary commented on #51
Mentioning @jessarcher to get her 👀 on it too.

[2021-12-16 00:53] edgrosvenor commented on #51
@jasonmccreary @jessarcher I just tried to replicate this on a fresh repo and wasn't able to. It mostly worked as expected.  Where I already had the typehint, Workbench left it alone. Where I didn't, it added it. My only nitpicky feedback on it is that I have a use statement importing HasMany, so it would be nice if that would be shortened.

https://github.com/edgrosvenor/broken/pull/1/files#diff-

[2021-12-16 01:18] edgrosvenor commented on #51
I found it. It's not the fact that I had already added they typehint that caused the problem. It's that there was more to the relationship than the simple HasMany statement. The relationships that went sideways all had extra stuff on them like where statements. Like this: https://github.com/edgrosvenor/broken/pull/2/files#diff-ad118410a8f190ed494aaf61c4dce81256a59b2fb12cb43aa18333756d5ff655

[2021-12-16 13:25] jasonmccreary commented on #51
@edgrosvenor, thanks for digging into this. We'll get this patched based on your feedback and run it through a formatter to shorten already imported references. 👍

[2022-01-18 13:35] SHSharkar opened #52 "Application fonts are not loading"
**Desktop:**
 - OS: Microsoft Windows 10 Pro
 - OS Version: 10.0.19044 Build 19044
 - App Version: 0.7.2.0

**Describe the bug**
Today I have reinstalled the operating system and set up the Shift Workbench. After installation is complete, the font for the interface is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest version of Shift Workbench on Windows 10
2. Open t

[2022-01-18 16:03] jasonmccreary commented on #52
Given that you reinstalled the OS, I'm inclined to say this is system related. I don't have access to a Windows 10 machine. So unless someone else reports this same issue, I'm not sure how best to proceed.

[2022-01-18 19:39] SHSharkar commented on #52
Hello, and thanks for your response. I have tried to figure out the issue to resolve.

It seems I have recently installed the `Open Sans Condensed` font family to my operating system.

I deleted the fonts and restarted the operating system after doing the changes. It seems the problem resolves.

Therefore, it was due to the FONT issue. I am going to close the issue.

I hope someone will find this

[2022-01-18 19:39] #52 closed, assigned to nobody

[2022-01-18 19:41] jasonmccreary commented on #52
Awesome. Glad you got it. Thanks for following up.

[2022-01-21 14:29] jonneroelofs opened #53 "Factory upgrade gone wrong"
**Desktop:**
 - OS: MAC intel
 - OS Version: 12.0.1
 - App Version: 0.7.2

**Describe the bug**
Provide a short description of the bug. Just a sentence or two.
Hi,

Just tried to run my first shift in the workbench and ran into some trouble.

The result after running "Class based factories" was multiple broken (invalid php) files. It seems to have broken on a afterCreatingState call when shifting.

[2022-01-22 14:59] jasonmccreary commented on #53
@jonneroelofs, the `afterCreatingState` can be recreated in modern Laravel, there is no exact equivalent. As such, Shift doesn't convert these automatically. This should have been noted in the console output.

There  may still be a  bug here, but  I'm curious if this broke for all factories, or just those with `afterCreatingState`.

[2022-01-23 07:28] menthol opened #54 "Missing Git during shift execution"
**Desktop:**
 - OS: MacOs
 - OS Version: 10.13.6
 - App Version: 0.7.2
 - Docker desktop: 2.5.0.1
 - Docker engine: 19.03.13
 - Docker compose: 1.27.4
 - Laravel version: v9.0.0-beta.3

**Describe the bug**
`docker compose` does not find `git` when running shifts. The installation with `php composer require` does not work.

**To Reproduce**
Steps to reproduce the behavior:
 - Launch any shift
 - S

[2022-01-24 08:48] jonneroelofs commented on #53
I reverted the code but as far as I could tell only the ones with afterCreatingState were problematic.

I think there is actually an option to rewrite the afterCreatingState to modern Laravel because you can call $this->afterCreating from within another state. The only thing I don't now is what happens if you were to do that from multiple states.

To be clear, you could rewrite:
[code]

To:
[code]

[2022-01-24 09:04] jonneroelofs commented on #53
Just had a look at the factory source code, looks like it handles multiple callbacks.

![image](https://user-images.githubusercontent.com/20800818/150752779-59b35656-105e-46b7-978d-f758d8c0a956.png)

![image](https://user-images.githubusercontent.com/20800818/150752828-4b7c6a26-4b1e-43be-a46f-abc63518f0c4.png)

[2022-01-24 12:30] jasonmccreary commented on #54
We'll check the build. It's possible `git` is not explicitly included.

[2022-01-24 12:31] jasonmccreary commented on #53
We'll take a look to see if these can be converted or at least warned without producing invalid code.

[2022-01-29 07:49] HAstaShakiba opened #55 "Latest && Oldest laravel method"
**What would you like to do?**
Briefly tell us about the problem you'd like to solve.
change orderByDesc and orderBy to latest and oldest method in laravel.

**Before/After code snippets**
If you're suggesting an enhancement or new task, please provide the a before/after code snippet.
`orderByDesc('something') -> latest('something')`

`orderBy('something') -> oldest('something')`

[2022-01-29 07:51] HAstaShakiba opened #56 "Illuminate\Support\Carbon"
**What would you like to do?**
Briefly tell us about the problem you'd like to solve.

**Before/After code snippets**
If you're suggesting an enhancement or new task, please provide the a before/after code snippet.
`Carbon/Carbon -> Illuminate\Support\Carbon`

[2022-01-29 07:54] jessarcher commented on #55
Great idea! I'll take a look :)

[2022-01-29 14:58] sppet opened #57 "Uncaught TypeError: Unsupported operand types: int + string in phar"
**Desktop:**
 - OS: mac
 - OS Version: Catalina
 - App Version:10.15.4

**Describe the bug**
I am using latest version of Laravel
Some tasks run well but most of the Laravel tasks don't run and some give an error at the Preparing build step, and some in the Running step, here is an example output for Remove down migration task:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1- Launch w

[2022-02-01 10:24] rzv-me opened #58 "Running optional to nullsafe introduces bug"
**Desktop:**
 - OS: Mac
 - OS Version: Big Sur 11.6
 - App Version: 0.7.2

**Describe the bug**
If you run the shift `optional to nullsafe` on some code, it removes the optional but doesn't add the nullsafe operator where needed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'optional to nullsafe' on the following code

[code]

2. Notice that $command can be null, but the shift removes

[2022-02-03 18:04] jasonmccreary commented on #58
This is a probably an edge case where Shift should not convert `optional` since it leverages the underlying delay evaluation.

@jessarcher, going to assign this one to you as it should be a quick fix with the test case and parser. However, we might want to note it in a "comment" as a remaining instance of `optional` to be reviewed.

[2022-02-03 18:09] jasonmccreary commented on #57
This appears to be an issue with your license key, please email support to get it reset/resolved.

[2022-02-03 18:09] #57 closed, assigned to nobody

[2022-02-03 18:09] jasonmccreary commented on #56
I like it, we'll get this task created. 👍

[2022-02-03 18:15] jasonmccreary commented on #54
Upon closer review, `git` is not included in the build. However, it's interesting that this problem is not more widespread for all users. Anyway, I'll add it and publish a build shortly to see if it fixes the issue.

[2022-02-03 18:18] jasonmccreary commented on #49
@ergonomicus, sorry for the delay. We've been busy on backend issues. I'm going to bring in @saurabh85mahajan to help us get caught up on these UI issues.

[2022-02-03 18:19] menthol commented on #54
oh, that's perfect.

tell me when it's done, i will make a live test

[2022-02-03 18:25] jasonmccreary commented on #38
@Gummibeer, sorry for the delay on this. Been focused on other things. Now that we're [ready for the Laravel 9](https://laravelshift.com/upgrade-laravel-8-to-laravel-9) release, we'll be working to tame all these open issues. 👍

[2022-02-03 19:43] jasonmccreary commented on #54
@menthol, we just pushed 0.7.3 which updates Alpine and adds `git` to the underlying Docker image. Let me know if it solves your issue.

[2022-02-03 20:45] menthol commented on #54
Hi, unfortunately this didn't completely solve the problem.

[code]

[2022-02-03 21:25] jasonmccreary commented on #54
@menthol, sorry this still didn't work. At this point, I believe it's likely something with your OS/Docker install. Otherwise, everyone would be unable to build our Docker image.

If you find anything, please report back.

[2022-02-03 21:25] #54 closed, assigned to jasonmccreary

[2022-02-04 06:54] menthol commented on #54
okay, i think it's time to upgrade my computer.

thx a lot for your time

[2022-02-09 12:07] fgibaux opened #59 "Global Facades task: bash not found error"
**Desktop:**
 - OS: Linux
 - OS Version: Fedora 34
 - App Version: 0.7.3

**Describe the bug**
when trying to run the Global Facades task, it does nothing and says `bash: not found`

**To Reproduce**
Steps to reproduce the behavior:
1. search for facade task
2. Click on `global facades` task
3. Run it

in the log the following appears:
[code]
![image](https://user-images.githubusercontent.com/1101

[2022-02-09 17:25] jasonmccreary commented on #59
Seems like a bad build. I'll get a rebuild out tomorrow.

[2022-02-10 13:15] jasonmccreary commented on #59
@fgibaux we just released 0.7.4. It seems to have resolved the issue for me locally. But please check yourself and close if so. 👍

[2022-02-10 15:37] fgibaux commented on #59
yes it did, thank you!

[2022-02-10 15:37] #59 closed, assigned to nobody

[2022-02-11 18:37] jasonmccreary opened #60 "Compare and update core Laravel files"
This task would review and automatically update all core files (artisan, bootstrap/app.php, public/index.php, service providers, kernels, lang files, configs, etc) for the users' current version of Laravel. If the file could not be reliably upgraded, a comment should be left.

[2022-02-11 18:39] jasonmccreary opened #61 "Adopt Laravel 9 Helpers"
This task would adopt the new helpers introduced in Laravel 9, which includes the `str` and `to_route` helpers.

Since there are only two, it would be cool if these were configurable in case the dev does not wish to adopt one of them.

[2022-02-11 18:44] jasonmccreary opened #62 "Refactor to `Route::controller` groups"
Laravel 9 introduced `Route::controller` groups (may have been back ported to Laravel 8). This task would refactor routes to use the new `Route::controller()` groupings.

**Before**
[code]

**After**
[code]

[2022-02-11 18:49] jasonmccreary opened #63 "Refactor resource controllers to individual routes"
**What would you like to do?**
User requested via email a task to separate a `resource` route into its individual routes.

**Before**
[code]

**After**
[code]

Note, this should respect any additional customizations via `only`, `except`, naming, etc.

[2022-02-11 18:51] jasonmccreary opened #64 "Remove dead routes"
**What would you like to do?**
User requested via email a task to determine "dead routes" and remove them. A "dead" route is one where the corresponding controller or controller method does not exist.

I wrote a [Shift CLI tool](https://github.com/laravel-shift/console) a while back that detected these, but did not unregister them. May be useful.

[2022-02-15 20:24] jasonmccreary opened #65 "Task to bump PHP (or Laravel) versions in CI configuration"
**What would you like to do?**
A task to bump the PHP (or Laravel) version in the configuration for GitHub, Bitbucket, or GitLab CI would be super helpful for project management or server updates.

Ideally this task would have options to specify the PHP version (or Laravel) as well as a `append` flag. Similar to the "Bump package dependencies" task, `append: true` would add the version to the curr

[2022-02-16 18:35] jasonmccreary opened #66 "Task to sniff out unused packages"
**What would you like to do?**
A task to sniff out unused packages within a project would be useful to clean up a project and make future upgrades easier.

While we may be able to leverage a tool/packages which exist already, a naive approach would be to run `composer install` and iterate over the dependency's respective `composer.json` file to see if the autoloaded namespace is referenced anywher

[2022-02-22 12:23] jasonmccreary commented on #47
Sorry for the delay here. This was added a little while back as the _Faker methods_ task.

[2022-02-22 12:23] #47 closed, assigned to jessarcher

[2022-02-22 12:28] ordago commented on #47
@jasonmccreary 👍 saw it on the changelog at the time.

[2022-02-22 12:47] jessarcher opened #67 "Adopt new `Attribute` class for specifying accessors and mutators"
At a minimum it would be great to handle these simple examples where the accessor and mutator is mutating a single column.

**Before**

[code]

**After**

[code]

It would also be cool to handle accessors and mutators that define a virtual column that manipulates multiple columns.

**Before**

[code]

**After**

[code]

(It might be too tricky to do some of these using short functions if it's not

[2022-02-22 19:25] matt-h commented on #63
Maybe use the [controller grouping](https://laravel.com/docs/9.x/routing#route-group-controllers) for this?
[code]

[2022-02-22 21:16] jasonmccreary commented on #63
@matt-h, yes, that's separate in #62.

[2022-02-24 17:31] jasonmccreary commented on #58
This should be resolved in the recent release (`0.7.5`). Note, the Workbench no longer converts these assignments as they leverage the "lazy execution" behavior of `optional`.

[2022-02-24 17:31] #58 closed, assigned to jasonmccreary

[2022-02-24 17:33] jasonmccreary commented on #46
The should be fixed as of version `0.7.5`. While Shift still may not convert all the example code exactly as you have, it should do a better job with nested namespaces.

[2022-02-24 17:33] #46 closed, assigned to jasonmccreary

[2022-02-24 17:35] jasonmccreary commented on #42
Given the direction of Laravel 9 continuing to adopt fluent routes and now add additional grouping methods like `Route::controller`, I'm closing this as I feel it could create confusion when Shift did not convert certain "outdated" conventions.

[2022-02-24 17:35] #42 closed, assigned to jasonmccreary

[2022-02-24 17:37] jasonmccreary commented on #11
Shift now uses PHP CS Fixer 3.0 underneath. We never got around to finishing a converter. But I expect most have upgraded now. So long as you're ruleset is 3.0 compatible, Shift will find it and use it.

[2022-02-24 17:37] #11 closed, assigned to jasonmccreary

[2022-03-01 17:44] jasonmccreary commented on #48
@spaantje, this should have been fixed in version 0.7.5. Let us know if not.

[2022-03-01 17:44] #48 closed, assigned to jasonmccreary

[2022-03-01 17:45] jasonmccreary commented on #20
Doesn't look like there is a way to pass in variables to a GitHub template. Going to close this.

[2022-03-01 17:45] #20 closed, assigned to nobody

[2022-03-03 17:59] jasonmccreary commented on #55
This task was added in `0.8.0`. Let us know when you try it out.

We may eventually add an option to only do this for date/id columns as I would personally I adopt it for those as I find it more readable.

[2022-03-03 17:59] #55 closed, assigned to jessarcher

[2022-03-03 17:59] jasonmccreary commented on #56
This task was added in `0.8.0`. Let us know when you try it out.

[2022-03-03 17:59] #56 closed, assigned to jasonmccreary

[2022-03-03 17:59] jasonmccreary commented on #60
This task was added in `0.8.0`.

[2022-03-03 17:59] #60 closed, assigned to jasonmccreary

[2022-03-03 17:59] jasonmccreary commented on #61
This task was added in `0.8.0`.

[2022-03-03 17:59] #61 closed, assigned to jasonmccreary

[2022-03-03 18:00] jasonmccreary commented on #63
An "experimental" version of this task was added in `0.8.0`. The basic conversion above should work, but we'll need to continue to add support for more complex _resources_ which use additional options.

[2022-03-03 18:00] #63 closed, assigned to jasonmccreary

[2022-03-08 15:08] jasonmccreary opened #68 "Convert `Str` calls to stringables"
**What would you like to do?**
I would like to adopt the new, fluent _stringable_ interface instead of the old `Str` static calls.

**Before/After code snippets**
[code]

Becomes:

[code]

[2022-03-08 18:19] jasonmccreary commented on #67
This is available as of version `0.8.2`.

[2022-03-08 18:19] #67 closed, assigned to jessarcher

[2022-03-08 18:21] jasonmccreary commented on #37
@patrick-radius, do you think the new single accessor/mutator method (#67) is an acceptable middle ground for this? Or would you still want something to alias these Laravel convention methods?

[2022-03-08 20:33] patrick-radius commented on #37
Thanks so much for still having this in mind.
I think the new accessor/mutator syntax is an improvement, however I still think it's hard to find usages of the 'magic' properties in a larger project.
I'm curious how other teams deal with this.

There's of course the possibility to add `@Property` docblocks, but I'd still prefer the possibility to convert the magic properties to normal method calls.

[2022-03-08 21:44] jasonmccreary commented on #37
Ok, I'll keep this on the list. But looking at it more, the implementation would probably be to delegate to the Laravel accessor/mutator. This is less of a code change and preserves the Laravel convention.

For example:

[code]

[2022-03-10 14:32] jasonmccreary commented on #68
This was released in version `0.8.3`.

[2022-03-10 14:32] #68 closed, assigned to jasonmccreary

[2022-03-10 14:32] jasonmccreary commented on #66
This was released in version `0.8.3`.

[2022-03-10 14:32] #66 closed, assigned to jessarcher

[2022-03-14 08:19] JustSteveKing opened #69 "Declare Strict Types"
**What would you like to do?**
I would love to be able to have a workbench task that adds `declare(strict_types=1)` at the top of every file in my Laravel application. This is currently something I do manually each time I touch a file, but having this automated would be a lot better!

Having this as a selectable dropdown of different strictness levels would most likely make this more usable for ev

[2022-03-14 11:41] jasonmccreary commented on #69
Easy peezy lemon squeezy. 🍋

I'll get this added this week.

[2022-03-16 12:27] inalto opened #70 "Docker shift-workbench yaml startup error"
**Desktop:**
 - OS: [Windows]
 - OS Version: [11]
 - App Version: [0.8.3.0]

**Describe the bug**
Newly installed, i ex, Code Format error follow:

Spawning docker
--------------
Build failed
You may review the output from the steps above for more detail. If you believe this is an error with the Workbench, please [open an issue](https://github.com/laravel-shift/workbench-issues).

Workbench versio

[2022-03-16 13:48] jasonmccreary commented on #70
Failure to read the build file would mean the application couldn't read from the core directory. I haven't heard any other reports of this, so I'll assume our path is not wrong. Do you have any kind of system restrictions or mounts that might prevent the app from reading the filesystem?

[2022-03-17 20:35] inalto commented on #70
I think i have understood why is not working.
it seems that we cant use it on shared folders like \\\\10.1.1.10\something but you have to map to a drive letter.

[2022-03-17 20:47] jasonmccreary commented on #70
I see. So is this working when you use a drive letter?

[2022-03-18 11:12] ElRochito opened #71 "Error PHP 8.1, composer ?"
**Desktop:**
 - OS: Mac
 - OS Version: 12.3
 - App Version: 0.8.3

**Describe the bug**
I try to launch php/property-promotion on my project which is based on PHP 8.1 (see screenshot below)

I tried too to set php 8.0 on my composer.json et composer.lock but got same error.

![image](https://user-images.githubusercontent.com/1737307/158992585-4618f1fd-d148-4aa6-a136-914ab0a16fb9.png)

[2022-03-18 11:16] jasonmccreary commented on #71
Yes, this is likely due to the Shift image still running 8.0. This is something we plan to make configurable before v1. Hopefully in a few weeks.

In the meantime, you may be able to get around it by removing your `php` constraint or faking it with a `config` setting.

[2022-03-18 16:55] schonhoff opened #72 "Error on php/switch-to-match"
**Desktop:**
 - OS: Windows
 - OS Version: 10
 - App Version: 0.8.3.0

Hello,

I don't know, if the issue is related to this #6 . I got an error after some time:
[code]

[code]

It takes really long to finish (269s). I don't really know what is causing the issue. Sorry that I can't deliver more information on the topic at the moment. Maybe it can't handle the "packages" directory with my custom pa

[2022-03-18 17:16] schonhoff commented on #72
I changed my .shiftrc to exclude some directories. The Problem still occur.

[code]
![image](https://user-images.githubusercontent.com/42345405/159051480-7bf6265d-ad2b-43e3-bae5-730bc6048e14.png)

Have the same error on some other tasks. I tried to exclude the package directory and some are working again. But that is not what I wanted. The package directory isn't even that big:
![image](https://us

[2022-03-18 20:28] jasonmccreary commented on #72
Some of the underlying free tasks rely on Rector, which is rather fickle. Especially when you have any kind of overlapping classes or functions. We've found such overlap is common within Laravel apps which might use IDE helpers or classmaps to unveil some of Laravel's automagic.

[2022-03-18 20:55] schonhoff commented on #72
I'm just using the barryvdh/laravel-ide-helper as an IDE helper. May that cause the issue?
Many other tasks are running without a problem (and in lower than 10 seconds) but this task and "nullsafe Operator" are running very slow.
Is there any "fix" to run the tasks or should I don't use those tasks at the moment?

Thanks for the very fast reply! :) Great tool and great support (also love the Larav

[2022-03-18 20:59] jasonmccreary commented on #72
Yes, something like the `ide_helper` file could definitely throw off static analysis tools. However, it might not be the only problem.

Yes, unfortunately both these tasks are ones backed by Rector. We plan to remove the Rector integration as it's proven to be quite buggy.

[2022-03-21 07:30] ElRochito commented on #71
Ok, thanks

[2022-03-27 23:33] adrianspacely opened #73 "App Icon has a white background"
**Desktop:**
 - OS: MacOS (apple silicon)
 - OS Version: 12.3
 - App Version: 0.8.3

**Describe the bug**

Just downloaded the workbench desktop app and the icon has a white background instead of being transparent:

![image](https://user-images.githubusercontent.com/3690710/160305962-19c7335b-adb1-4bd6-b810-fdfa93e6f893.png)

[2022-03-27 23:36] adrianspacely commented on #73
Closing, the issue went away by itself.

[2022-03-27 23:36] #73 closed, assigned to nobody

[2022-03-28 22:43] driftingly opened #74 "Adopt stringables run error"
**Desktop:**
 - OS: Mac
 - OS Version: macOS Monterey 12.2.1
 - App Version: 0.8.3

**Describe the bug**
Ran into the below error message when running Adopt stringables with the Use Helper option enabled.

**To Reproduce**
Run the Adopt stringables shift.

**Error**
[code]

[2022-03-28 23:13] driftingly commented on #74
The issue might be due to a string macro: `Str::macro('possessive', function ($str) {});`

[2022-03-29 10:42] jasonmccreary commented on #74
It's possible. I'll add a `macro` call to our test cases and see what happens.

[2022-03-29 11:06] driftingly commented on #74
I removed the macro and tried again and still ran into the error, so it doesn't appear to be the issue.

[2022-04-05 10:53] merlin334 commented on #70
Had the exact same problem.
Fixed it by turning off focus assist in windows.
Focus assist prevented the sharing of files with Docker.
![focus-assist](https://user-images.githubusercontent.com/9083576/161738760-e3af0f0c-2ffc-479c-8f19-1d9701935748.jpg)
.

[2022-04-05 12:22] jasonmccreary commented on #70
Interesting. Thanks for following up.

[2022-04-05 12:22] #70 closed, assigned to nobody

[2022-04-06 00:34] mberneis opened #75 "Build failed without detail info"
**Desktop:**
 - OS:Mac
 - OS Version: 12.3
 - App Version: Workbench 0.8.3
 -
**Describe the bug**
I ran the new-in-initializer task via docker on my code and got a build fail without any other information

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Run '....'

![image](https://user-images.githubusercontent.com/30384/161872639-9ad44b14-d92c-46f0-8d7a-f78

[2022-04-06 12:45] jasonmccreary commented on #75
Some of these tasks are rather "black box". We have a task to improve the output for v1.0. In the meantime, if you want to try the cloud-based Workbench, we can see if there are some more details. Just reply back with the build number.

[2022-04-07 10:57] mortenscheel opened #76 "laravel/attribute-accessors-mutators bugs"
**Desktop:**
 - OS: Windows
 - OS Version: 11
 - App Version: 0.8.3

**Describe the bug**
* The build crashes if the accessor/mutator method is required by an interface the model implements. It would probably be best if it just skips those without changing anything.
* If `Arr::set()` is used in the mutator, something weird happens:

[code]

[2022-04-07 11:44] jasonmccreary commented on #76
Thanks for the feedback. Going to tag @jessarcher as this task was her baby. 😉

[2022-04-08 18:39] mberneis commented on #75
It worked fine in the cloud based workbench - closing it

[2022-04-08 18:39] #75 closed, assigned to nobody

[2022-04-09 10:47] jasonmccreary commented on #75
Interesting. I still wonder why it failed locally. But @jessarcher and I are working to improve both the failure and success messaging in a separate task. So hopefully that will help in the future.

[2022-04-20 09:41] khanalpride opened #77 "Use Laravel Carbon issue"
App Version: 0.8.3

**Describe the bug**
Updates the `use Carbon\CarbonPeriod'` to `use Illuminate\Support\CarbonPeriod;`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run workbench
2. Run Use Laravel Carbon

[2022-04-20 10:30] jasonmccreary commented on #77
Thanks. I'll get this fixed up.

[2022-04-20 15:54] jasonmccreary commented on #72
As this is one of the free tasks backed by Rector, it is not something we support directly. You are welcome to try and run this task directly in your application via Rector. If that fails, you should [open a Rector issue](https://github.com/rectorphp/rector/issues).

Alternatively, you may try running the [cloud-based Workbench](https://laravelshift.com/workbench) to rule out any local dependency

[2022-04-20 15:54] #72 closed, assigned to nobody

[2022-04-20 16:19] jasonmccreary commented on #43
We have decided these free tasks backed by Rector are not something we will support. You are welcome to try and run this via Rector directly. If that fails, you should [open a Rector issue](https://github.com/rectorphp/rector/issues).

Alternatively, you may try running the [cloud-based Workbench](https://laravelshift.com/workbench) to rule out any local dependency issues. If that succeeds, you ma

[2022-04-20 16:19] #43 closed, assigned to jessarcher

[2022-04-21 12:29] jasonmccreary commented on #69
This is available in 0.9.0.

[2022-04-21 12:29] #69 closed, assigned to jasonmccreary

[2022-04-21 12:30] jasonmccreary commented on #77
This is fixed in release 0.9.0.

[2022-04-21 12:30] #77 closed, assigned to jasonmccreary

[2022-04-21 12:31] jasonmccreary commented on #53
Converting chained callback methods is now supported in release 0.9.0.

[2022-04-21 12:31] #53 closed, assigned to jasonmccreary

[2022-04-22 19:33] billriess commented on #71
Was PHP 8.1 support ever added?

[2022-04-22 21:54] jasonmccreary commented on #71
Not yet. We're going to make the PHP version a setting in v1.0. Which we hope to release in May.

[2022-05-12 10:57] jasonmccreary opened #78 "Attributes task conflicts when method exists."
**Describe the bug**
From user report:

[2022-05-19 14:13] JeffreyDavidson opened #79 "Controller Validation task returns empty output"
**Desktop:**
 - OS: Mac
 - OS Version: Monterey
 - App Version: 0.9.3

**Describe the bug**
Provide a short description of the bug. Just a sentence or two.

I tried to run the Controller Validation task and after running it I got the error below as shown in the image.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Controller Validation task'
2. Click on 'run'
3. See error as shown in

[2022-05-19 15:27] jasonmccreary commented on #79
Does it run for you on the cloud-based Workbench?

[2022-05-19 22:48] JeffreyDavidson commented on #79
It does run on the cloud-based Workbench!

[2022-05-20 12:34] jasonmccreary commented on #79
Good. I'm not sure the issue locally. For whatever reason, sometimes these same tasks fail within the desktop app. It's likely something with the environment or local setup.

We're adding more debugging options for v1 as it's impossible to know right now.

[2022-05-20 12:34] #79 closed, assigned to nobody

[2022-05-27 02:53] HDVinnie opened #80 "Controller Validation"
**Desktop:**
 - OS: Mac
 - OS Version: 12.2.1
 - App Version: 0.9.3

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Workbench app.
2. Click on laravel/form-request
3. Run it

[2022-05-27 11:27] jasonmccreary commented on #80
Does this work on the cloud-based Workbench?

[2022-06-10 09:10] atph commented on #71
Any updates on this one? @jasonmccreary

[2022-06-10 11:08] jasonmccreary commented on #71
It's configurable in v1.0. We're hoping to release soon.

[2022-06-25 10:32] jasonmccreary commented on #71
The PHP version is now configurable via the new _Preferences_ section added in v1.0.

[2022-06-25 10:32] #71 closed, assigned to nobody

[2022-06-25 10:35] jasonmccreary commented on #25
This has been added in v1.0.0. You may selected _Kill_ from the build menu or via a keyboard shortcut (Ctrl + Alt + K or Cmd + Opt + K)

[2022-06-25 10:35] #25 closed, assigned to nobody

[2022-06-25 10:36] jasonmccreary commented on #4
We recently released v1.0. However, this didn't make the cut. I'm going to keep it in mind, but close this for now.

[2022-06-25 10:36] #4 closed, assigned to nobody

[2022-06-25 10:38] jasonmccreary commented on #37
After additional review, I don't think this is something we'll add. Seems too specific and doesn't really align with Laravel conventions.

[2022-06-25 10:38] #37 closed, assigned to nobody

[2022-08-20 03:23] dvdheiden opened #81 "License key not remembered"
After the update to 1.0.2 I'm having issues with workbench not remembering my license key. Hopefully, this is not just on my laptop.

**Desktop:**
 - OS: Mac
 - OS Version: 12.5
 - App Version: 1.0.2

**Describe the bug**

After every start, I have to provide the license key again. But then the activation complains about having too many activated licenses. So then I have to disable a device and pr

[2022-08-20 12:03] jasonmccreary commented on #81
Was everything working prior to v1.0.2?

[2022-08-20 18:37] dvdheiden commented on #81
Yes I think it was. Should I try a reinstall or is there something else I could try?

[2022-08-21 15:22] jasonmccreary commented on #81
v1.0.2 did contain an update to the license key renewal, so it's possible there's a bug. However, I'm not able to replicate it and haven't heard any other reports.

Could you email your license key to support@laravelshift.com so I can take a closer look at your specific details.

[2022-08-22 18:44] dvdheiden commented on #81
Of course, no problem.

[2022-09-09 13:41] scottdsnr opened #82 "Code format - pint not found"
- OS: Windows (WSL)
 - OS Version: 10
 - App Version:  1.0.2

**Describe the bug**
Code formatter not completing. Other tasks are working
Error message from output
![image](https://user-images.githubusercontent.com/58791337/189362238-5dd9c7e8-24d5-4e30-bd2c-7bfd90f7c5fa.png)

**To Reproduce**
Steps to reproduce the behavior:
Run code format with project files from WSL

[2022-09-14 20:11] jasonmccreary commented on #82
Just released 1.0.3 which includes `laravel/pint`. Let me know if you still experience this problem.

[2022-09-14 20:11] #82 closed, assigned to nobody

[2022-09-19 12:58] CrazyBoy49z opened #83 "Unsupported operand types: int + string"
**Desktop:**
 - OS: Mac
 - OS Version: Monterey
 - App Version: 12.6

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[Adopt early returns]'
2. Run

[2022-09-19 13:10] jasonmccreary commented on #83
From the partial stack trace, it seems your license key has a prefixing space. Please ensure you did not copy/paste this incorrectly.

[2022-09-19 13:10] #83 closed, assigned to nobody

[2022-09-19 13:49] CrazyBoy49z commented on #83
Thanks, the problem is reinstalling the key. Due to the fact that the previous license was removed. Maybe the same problem #81

[2022-09-30 18:41] fgilio opened #84 "Run task on specific path only"
Hi!

**What would you like to do?**
Sometimes, when I'm working on a big project, I'd find really handy to be able to run a task only on a specific file.
That way I can make surgical changes, move forward in small steps and with high confidence. And, also, without undoing changes constantly in git.

I'd be more than happy to beta test it, if that's required/possible.

[2022-10-26 16:21] fgilio opened #85 "Fluent Responses task deletes "201" statuses"
**Desktop:**
 - OS: Mac
 - OS Version: Monterrey 12.6.1
 - App Version: 1.0.3

**Describe the bug**
The Fluent Responses task is stripping out both the 200 and 201 response statuses.
I understand why that makes sense for 200, but 201 does have specific meaning and it's not the default.
I may be missing something, but this looks like a bug.

![Screen Shot 2022-10-26 at 13 19 10](https://user-images

[2022-10-26 17:10] jasonmccreary commented on #85
Thanks. I'll get this cleaned up.

[2022-10-26 18:03] fgilio commented on #85
👍  Let me know if you need more sample code or someone testing the fix

Looks like it's not limited to 201s
![Screen Shot 2022-10-26 at 16 38 14](https://user-images.githubusercontent.com/6857732/198120628-e772666d-c386-44e3-876d-acd01611829c.jpg)

[2022-10-31 04:31] ejunker opened #86 "Can't add user with high UID"
**Desktop:**
 - OS: macOS
 - OS Version: Monterey 12.6.1
 - App Version: 1.0.3

**Describe the bug**

When building the Docker image for initial run I get the following error:

[code]

My uid on my mac is `123332183` and it looks like it is trying to create a user  with the same uid and failing.

I did find this which may be related:
https://stackoverflow.com/questions/41807026/cant-add-a-user-wit

[2022-10-31 09:45] Jamesking56 opened #87 "Streamline Tailwind Config task is throwing an exception"
**Desktop:**
 - OS: Mac
 - OS Version: Monterey 12.6
 - App Version: 1.0.3

**Describe the bug**
Streamline Tailwind config task is broken and crashes:

[code]

**To Reproduce**
Run the tailwind streamline config task, I think its a problem with the Docker image rather than any specific OS.

[2022-11-04 15:03] jasonmccreary commented on #87
Thanks for reporting. I'll try to get this cleaned up next week.

[2022-11-04 15:03] jasonmccreary commented on #86
Thanks for reporting. I'll try to push a patch next week.

[2022-11-23 21:02] chrisdicarlo commented on #83
Thanks!  The space issue with the license key was the cause for me, as well.